<!-- Start -->
<section class="section bg-light" style="background: url('<%= asset_path 'bg/team.jpg' %>') center;">
  <div class="container">
    <div class="row mt-5 align-items-center">
      <div class="col-lg-8 col-md-6">
        <div class="title-heading text-md-start text-center">
          <h2 class="mb-0">Modern & Classic</h2>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <div class="text-md-end text-center">
          <nav aria-label="breadcrumb" class="d-inline-block">
            <ul class="breadcrumb mb-0 p-0">
<!--              <li class="breadcrumb-item"><a href="/">Starty</a></li>-->
<!--              <li class="breadcrumb-item"><a href="#">Portfolio</a></li>-->
<!--              <li class="breadcrumb-item active" aria-current="page">Single Post</li>-->
            </ul>
          </nav>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Start -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-8">
        <%= image_tag 'viptechnologies/AboutUs-VIPTechnologies.png', class: 'img-fluid rounded shadow', alt: '' %>

        <%= image_tag 'viptechnologies/Contact-VIPTechnologies.png', class: 'img-fluid rounded shadow', alt: '' %>

        <%= image_tag 'viptechnologies/Home-VIPTechnologies.png', class: 'img-fluid rounded shadow', alt: '' %>
        <div class="section-title mt-5 pt-2">
          <h4 class="title mb-4">Project Description</h4>

          <p class="text-muted">
            So far we have delivered many projects to the clients world wide.
            few of our website are:
            <ul>
              <li><a href="https://viptechnologies.in" target="_blank">VipTechnologies India</a></li>
              <li><a href="https://touchrails.com" target="_blank">TouchRails</a></li>
              <li><a href="https://lensfree.co" target="_blank">lensfree</a></li>
            </ul>
          </p>
<!--          <p class="text-muted mb-0">Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. If the fill text is intended to illustrate the characteristics of different typefaces, it sometimes makes sense to select texts containing the various letters and symbols specific to the output language.</p>-->
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="sidebar sticky-bar">
          <!-- Detail -->
          <div class="widget">
            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">Project Details</h6>

            <dl class="row mb-0 mt-4">
              <dt class="col-md-4 fw-medium col-5">Client :</dt>
              <dd class="col-md-8 col-7 text-muted">Bharti Grover</dd>

              <dt class="col-md-4 fw-medium col-5">Category :</dt>
              <dd class="col-md-8 col-7 text-muted">Web Design</dd>

              <dt class="col-md-4 fw-medium col-5">Date :</dt>
              <dd class="col-md-8 col-7 text-muted">1st April 2024</dd>

              <dt class="col-md-4 fw-medium col-5">Website :</dt>
              <dd class="col-md-8 col-7 text-muted">https://www.viptechnologies.in/</dd>

              <dt class="col-md-4 fw-medium col-5">Location :</dt>
              <dd class="col-md-8 col-7 text-muted"># 623, Sector -6, Karnal</dd>
            </dl>
          </div>
          <!-- Detail -->

          <!-- Share -->
          <div class="widget mt-4 pt-2">
            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">Share</h6>

            <ul class="list-unstyled text-center social-icon social mb-0 mt-4">
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded-pill"><i class="uil uil-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-instagram"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-twitter"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-dribbble"></i></a></li>
            </ul>
          </div>
          <!-- Share -->

          <!-- TAG CLOUDS -->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->
