<!-- Start -->
<section class="section bg-light">
  <div class="container">
    <div class="row mt-5 align-items-center">
      <div class="col-lg-8 col-md-6">
        <div class="title-heading text-md-start text-center">
          <h2 class="mb-0">Modern & Classic</h2>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <div class="text-md-end text-center">
          <nav aria-label="breadcrumb" class="d-inline-block">
            <ul class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item"><a href="index.html">Starty</a></li>
              <li class="breadcrumb-item"><a href="#">Portfolio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Single Post</li>
            </ul>
          </nav>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Start -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-8">
        <%= image_tag 'portfolio/single01.jpg', class: 'img-fluid rounded shadow', alt: '' %>

        <%= image_tag 'portfolio/single02.jpg', class: 'img-fluid rounded shadow', alt: '' %>

        <%= image_tag 'portfolio/single03.jpg', class: 'img-fluid rounded shadow', alt: '' %>

        <div class="section-title mt-5 pt-2">
          <h4 class="title mb-4">Project Description</h4>

          <p class="text-muted">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin words. This ancient dummy text is also incomprehensible, but it imitates the rhythm of most European languages in Latin script. The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout.</p>
          <p class="text-muted mb-0">Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. If the fill text is intended to illustrate the characteristics of different typefaces, it sometimes makes sense to select texts containing the various letters and symbols specific to the output language.</p>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="sidebar sticky-bar">
          <!-- Detail -->
          <div class="widget">
            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">Project Details</h6>

            <dl class="row mb-0 mt-4">
              <dt class="col-md-4 fw-medium col-5">Client :</dt>
              <dd class="col-md-8 col-7 text-muted">Calvin Carlo</dd>

              <dt class="col-md-4 fw-medium col-5">Category :</dt>
              <dd class="col-md-8 col-7 text-muted">Web Design</dd>

              <dt class="col-md-4 fw-medium col-5">Date :</dt>
              <dd class="col-md-8 col-7 text-muted">15th April 2021</dd>

              <dt class="col-md-4 fw-medium col-5">Website :</dt>
              <dd class="col-md-8 col-7 text-muted">www.yourdomain.com</dd>

              <dt class="col-md-4 fw-medium col-5">Location :</dt>
              <dd class="col-md-8 col-7 text-muted">3/2/64 Mongus Street, UK</dd>
            </dl>
          </div>
          <!-- Detail -->

          <!-- Share -->
          <div class="widget mt-4 pt-2">
            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">Share</h6>

            <ul class="list-unstyled text-center social-icon social mb-0 mt-4">
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded-pill"><i class="uil uil-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-instagram"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-twitter"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-dribbble"></i></a></li>
            </ul>
          </div>
          <!-- Share -->

          <!-- TAG CLOUDS -->
          <div class="widget mt-4 pt-2 text-center">
            <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded">Tags Cloud</h6>
            <div class="tagcloud mt-4">
              <a href="javascript:void(0)" class="rounded text-dark">Business</a>
              <a href="javascript:void(0)" class="rounded text-dark">Finance</a>
              <a href="javascript:void(0)" class="rounded text-dark">Marketing</a>
              <a href="javascript:void(0)" class="rounded text-dark">Fashion</a>
              <a href="javascript:void(0)" class="rounded text-dark">Bride</a>
              <a href="javascript:void(0)" class="rounded text-dark">Lifestyle</a>
              <a href="javascript:void(0)" class="rounded text-dark">Travel</a>
              <a href="javascript:void(0)" class="rounded text-dark">Beauty</a>
              <a href="javascript:void(0)" class="rounded text-dark">Video</a>
              <a href="javascript:void(0)" class="rounded text-dark">Audio</a>
            </div>
          </div>
          <!-- TAG CLOUDS -->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->
