<section class="section">
  <div class="container mt-5">
    <h1>Privacy Policy for TouchRails</h1>
    <p>Last updated: April 19, 2024</p>

    <h2>Introduction</h2>
    <p>At TouchRails, accessible from <a href="https://www.touchrails.com/", target="_blank">https://www.touchrails.com/</a>, one of our main priorities is the privacy of our
      visitors. This Privacy Policy document contains types of information that is collected and recorded by TouchRails
      and how we use it.</p>

    <h2>Consent</h2>
    <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

    <h2>Information we collect</h2>
    <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be
      made clear to you at the point we ask you to provide your personal information.</p>
    <p>If you contact us directly, we may receive additional information about you such as your name, email address,
      phone number, the contents of the message and/or attachments you may send us, and any other information you may
      choose to provide.</p>

    <h2>How we use your information</h2>
    <p>We use the information we collect in various ways, including to:</p>
    <ul>
      <li>Provide, operate, and maintain our website</li>
      <li>Improve, personalize, and expand our website</li>
      <li>Understand and analyze how you use our website</li>
      <li>Develop new products, services, features, and functionality</li>
      <li>Communicate with you, either directly or through one of our partners, including for customer service, to
        provide you with updates and other information relating to the website, and for marketing and promotional
        purposes
      </li>
      <li>Send you emails</li>
      <li>Find and prevent fraud</li>
    </ul>

    <!-- More sections go here -->

    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, you can contact us:</p>
    <ul>
      <li>By email: <a href="mailto:admin@viptechnologies.in" class="text-foot">admin@viptechnologies.in</a></li>
      <li>By visiting this page on our website: <a href="https://www.touchrails.com/contacts", target="_blank">contact us</a></li>
    </ul>
  </div>
</section>
