<!-- Start -->
<section class="section bg-light" style="background: url('<%= asset_path 'bg/team.jpg' %>') center;">
  <div class="container">
    <div class="row mt-5 align-items-center">
      <div class="col-lg-8 col-md-6">
        <div class="title-heading text-md-start text-center">
          <h2 class="mb-0">Terms of Use</h2>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <div class="text-md-end text-center">
          <nav aria-label="breadcrumb" class="d-inline-block">
            <ul class="breadcrumb mb-0 p-0">
<!--              <li class="breadcrumb-item"><a href="/">Starty</a></li>-->
<!--              <li class="breadcrumb-item"><a href="#">Portfolio</a></li>-->
<!--              <li class="breadcrumb-item active" aria-current="page">Single Post</li>-->
            </ul>
          </nav>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->
<div class="container mt-5">
<!--  <h1>Terms of Use</h1>-->
  <p>Welcome to TouchRails! By accessing and using our website, you agree to the following terms:</p>
  <!-- Add your terms and conditions here -->
  <ul>
    <li><strong>Privacy Policy:</strong> Users must agree to our privacy policy, which outlines how we collect, use, and protect their personal information.</li>
    <li><strong>Prohibited Activities:</strong> Users must refrain from engaging in any illegal, harmful, or malicious activities while using our services.</li>
    <li><strong>Account Security:</strong> Users are responsible for maintaining the security of their accounts, including safeguarding passwords and access credentials.</li>
    <li><strong>Content Guidelines:</strong> Content posted by users must adhere to our guidelines. Offensive, harmful, or inappropriate content is strictly prohibited.</li>
    <li><strong>Intellectual Property:</strong> Users acknowledge that all intellectual property rights (including trademarks, copyrights, and patents) belong to us.</li>
    <li><strong>Disclaimer of Warranties:</strong> We provide our services "as is," and users agree that we make no warranties regarding accuracy, reliability, or fitness for a particular purpose.</li>
    <li><strong>Limitation of Liability:</strong> We are not liable for any direct, indirect, or consequential damages arising from the use of our services.</li>
    <li><strong>Termination of Accounts:</strong> We reserve the right to terminate user accounts for violations of our terms or policies.</li>
    <li><strong>Third-Party Links:</strong> Users understand that our website may contain links to third-party sites, and we are not responsible for their content or practices.</li>
    <li><strong>Updates to Terms:</strong> Users agree that we may update these terms periodically, and continued use of our services constitutes acceptance of any changes.</li>
  </ul>
</div>

