<!-- Start -->
<section class="section bg-light">
  <div class="container">
    <div class="row mt-5 align-items-center">
      <div class="col-lg-8 col-md-6">
        <div class="title-heading text-md-start text-center">
          <h2 class="mb-0">Modern & Classic</h2>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <div class="text-md-end text-center">
          <nav aria-label="breadcrumb" class="d-inline-block">
            <ul class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item"><a href="index.html">Starty</a></li>
              <li class="breadcrumb-item"><a href="#">Portfolio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Single Post</li>
            </ul>
          </nav>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Start -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tiny-single-item">
          <div class="tiny-slide">
            <%= image_tag 'viptechnologies.png', class: "img-fluid", alt: "" %>
          </div>

          <div class="tiny-slide">
            <%= image_tag 'touchrails.png', class: "img-fluid", alt: "" %>
          </div>

          <div class="tiny-slide">
            <%= image_tag 'lensefree.png', class: "img-fluid", alt: "" %>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row">
      <div class="col-lg-8 col-md-6">
        <div class="section-title me-md-4">
          <h4 class="title mb-4">Project Description</h4>

          <p class="text-muted">
           <span style="display: block">
             Writing a project description for a web project is essential to provide stakeholders with a clear overview.
             Here’s a concise outline you can follow:
           </span>
            <span style="display: block">
            Project Title: Choose a short, unambiguous, and memorable title for your web project.
            Overview: Provide a high-level summary of the project in one or two paragraphs. Explain what the project
            aims to achieve.
            </span>
            Project Justification: Describe the problem or opportunity that led to the project. Explain why it’s
            necessary.
            Objectives: Set specific and measurable goals for the project. What do you want to accomplish?
            Phases of Work: Break down the project into phases, describing the desired outcome for each. For example,
            design, development, testing, and deployment.
            Metrics for Evaluating and Monitoring: Include the metrics you’ll use to evaluate the project’s success.
            These could be user engagement, conversion rates, or performance benchmarks.
            Timeline: Outline the timeline for each phase, including start and end dates. Be realistic about the time
            required for each task.
            Estimated Budget: Include the budget and projected costs. This helps stakeholders understand the financial
            aspect of the project.
          </p>
        </div>
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="section-title">
          <h4 class="title mb-4">Project Details</h4>
        </div>

        <dl class="row mb-0">
          <dt class="col-md-4 fw-medium col-5">Client :</dt>
          <dd class="col-md-8 col-7 text-muted">Bharti Grover</dd>

          <dt class="col-md-4 fw-medium col-5">Category :</dt>
          <dd class="col-md-8 col-7 text-muted">Web Design</dd>

          <dt class="col-md-4 fw-medium col-5">Date :</dt>
          <dd class="col-md-8 col-7 text-muted">1th April 2024</dd>

          <dt class="col-md-4 fw-medium col-5">Website :</dt>
          <dd class="col-md-8 col-7 text-muted">https://viptechnologies.in/</dd>

          <dt class="col-md-4 fw-medium col-5">Location :</dt>
          <dd class="col-md-8 col-7 text-muted">J-004, Anant Raj Maceo, Sector-91, Gurgaon</dd>
        </dl>
      </div><!--end col-->

      <div class="col-12">
        <div class="mt-5 pt-5 border-top">
          <ul class="list-unstyled align-items-center social-icon social mb-0">
            <li class="list-inline-item me-3">Share :</li>
            <li class="list-inline-item">
              <a href="javascript:void(0)" class="rounded-pill"><i class="uil uil-facebook-f"></i></a></li>
            <li class="list-inline-item">
              <a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-instagram"></i></a></li>
            <li class="list-inline-item">
              <a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-twitter"></i></a></li>
            <li class="list-inline-item">
              <a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-linkedin"></i></a></li>
            <li class="list-inline-item">
              <a href="javascript:void(0)" class="rounded-pill mt-1"><i class="uil uil-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End -->
<script>
    // Select the <ul> element by its class
    var navigationMenu = document.querySelector('.navigation-menu.nav-right');

    // Check if the element exists
    if (navigationMenu) {
        // Remove the 'nav-light' class from the element
        navigationMenu.classList.remove('nav-light');
    }
</script>



